@model Onpe.Web.ViewModel.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Login ONPE";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login ONPE.WEB</title>
    <!-- Bootstrap core CSS-->
    <link href=@Url.Content("~/Content/vendor/bootstrap/css/bootstrap.min.css") rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href=@Url.Content("~/Content/vendor/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href=@Url.Content("~/Content/css/sb-admin.css") rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">ONPE.WEB</div>
            <div class="card-body">

                <form method="post" action="@Url.Action("Login")">
                    <div class="form-group">
                        <label>Codigo</label>
                        @Html.TextBoxFor(X => X.codigo, new
                   {
                       @class = "form-control"
    ,
                       placeholder = "Ingresa tu Codigo",
                       name = "nombre"
                   })
                        @Html.ValidationMessageFor(model => model.codigo)
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        @Html.TextBoxFor(X => X.password, new
                   {
                       @class = "form-control",
                       placeholder = "Password",
                       type = "password"
                   })
                        @Html.ValidationMessageFor(model => model.password)
                    </div>

                    <button class="btn btn-primary btn-block">Ingresa</button>

                </form>

            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src=@Url.Content("~/Content/vendor/jquery/jquery.min.js")></script>
    <script src=@Url.Content("~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")></script>
    <!-- Core plugin JavaScript-->
    <script src=@Url.Content("~/Content/vendor/jquery-easing/jquery.easing.min.js")></script>
</body>
</html>
