
@model Onpe.Web.ViewModel.LstUsuariosViewModel
    @{
        ViewBag.Title = "Lista de Usuarios";
    }
    <div class="row">
        <form class="form" method="post" action="@Url.Action("LstUsuarios")">
            <div class="form-group">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>Filtro</th>
                        <td>
                            @Html.TextBoxFor(X => X.Filtro, new { @class = "form-control" })
                            @*<input class="form-control" id="nombre" type="text" />*@
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary ">
                                <i class="fa fa-search"></i>&nbsp;Buscar
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Rol</th>
                        <th>Codigo</th>
                        <th>Password</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var item in Model.LstUsuarios)
                        {
                        <tr>
                            <td>@item.Nombres</td>
                            <td>@item.Apellidos</td>
                            <td>@item.Roles.Descripcion</td>
                            <td>@item.Codigo</td>
                            <td>@item.Password</td>
                            <td>
                                <a href="@Url.Action("AddEditUsuarios",new { UsuarioId = item.UsuarioId})" class="btn btn-default">
                                    <i class="fa fa-edit"></i>&nbsp;Editar
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("DeleteUsuario",new { UsuarioId = item.UsuarioId})" class="btn btn-default">
                                    <i class="fa fa-trash-o"></i>&nbsp;Eliminar
                                </a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <a class="btn btn-primary" href="@Url.Action("AddEditUsuarios")">
            <i class="fa fa-plus"></i>&nbsp;Agregar
        </a>


